/* Made by Driti Arun Singhania 22112008 */
.library{
    background-image: url(images/library.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.name{
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    margin-top: 25%;
    font-weight: 1000;
}

@media only screen and (max-width: 800px){
    .name{
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px){
    .name{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 500px){
    .name{
        font-size: 1em;
    }
}

@media only screen and (max-width: 300px){
    .name{
        font-size: 0.5em;
    }
}

.container{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.start{
    color: white;
    font-size: 30px;
    bottom: 0;
    position: absolute;
    right: 45vw;
}

@media only screen and (max-width: 800px){
    .start{
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px){
    .start{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 500px){
    .start{
        font-size: 1em;
    }
}

@media only screen and (max-width: 300px){
    .start{
        font-size: 0.5em;
    }
}

.zone1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

body{
    margin: 0px;
    background-color: rgb(216, 200, 135);
}

.colour1{
    background-color: rgb(113, 86, 50);
}

.colour2{
    background-color: rgb(160, 123, 75);
}

.zone2{
    padding: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    align-content: start;
}

.box{
    background-color: black;
    padding: 5px;
    width: 300px;
    height: 100px;
    margin: 10px;
}

.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.pro{
    background-color: black;
    border-radius: 5px;
    padding: 80px;
    margin: 20px;
    font-size: 4rem;
}

.bookc{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;

}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pro:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform:rotate(-7deg);
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


.description bg{
    background-color: blanchedalmond;
}

.page{
    height: 90vh;
    width: 9;
    margin-left: 0;
}

.con{
    display: inline-flex;
}

.text{
    margin: 50px;
}

.t{
    font-size: 50px;
}

@media only screen and (max-width: 900px){
    .t{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px){
    .t{
        font-size: 10px;
    }
}

@media only screen and (max-height: 250px){
    .t{
        font-size: 10px;
    }
}

@media only screen and (max-height: 100px){
    .t{
        font-size: 5px;
    }
}

p{
    font-size: 20px;
}

@media only screen and (max-width: 900px){
    p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px){
    p{
        font-size: 5px;
    }
}

@media only screen and (max-height: 2500px){
    p{
        font-size: 15px;
    }
}

@media only screen and (max-height: 100px){
    p{
        font-size: 5px;
    }
}





.b{
    border-radius: 20px; 
    font-size: 30px; 
    padding: 20px 40px; 
    background-color: black; 
    color: white;
}

@media only screen and (max-width: 800px){
    .b{
        font-size: 20px;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 600px){
    .b{
        font-size: 5px;
    }
}

@media only screen and (max-height: 250px){
    .b{
        font-size: 10px;
    }
}

@media only screen and (max-height: 100px){
    .b{
        font-size: 5px;
    }
}